* {
    background-color: rgb(236, 188, 99);
    justify-content:center;
    text-align: center;
}

#btn {
    justify-content: center;
    border:solid purple;
}

#title {
    text-align: center;
}

#navbar {
    display:flex;
    justify-content:space-evenly;
    padding:4px;
    margin: 4px;
}

#postBox {
    border:solid black;
}

